.spot-tile {
    /* blocks that can be on the same line */
    display: inline-block;
    /* border: 1px dashed black; */
    margin: 10px;

    position: relative;

    text-decoration: none;
}
.spot-link {
    /* width: 100%;
    height: 100%; */
    display: block;
    width: 250px;
    height: 250px;

    overflow: hidden; /* want the rectangular image to be cropped into a square image */
    position: relative;

    text-decoration: none;
    color: black;
} /* its okay if it's not cropped, layout is more important for now */


.city {
    text-decoration: none;
}

.tile-bottom {
    position: relative;
}
.tile-bottom-right {
    position: absolute;
    right: 0;
    top: 0;
}

/* update, delete buttons */
.update-delete-container {
    margin-top: 20px;

    display: flex;  /* put buttons side by side */
}
.update {
    text-decoration: none;
    background-color: gray;
    color: white;
    border: 2px solid black;

    padding: 0px 5px;
    margin-right: 15px;
}

.delete-button{
    list-style: none;  /* to get rid of the bullet point in the component */

    background-color: gray;
    color: white;
    border: 2px solid black;

    padding: 0px 5px;
    margin-right: 15px;

}
.delete-button:hover {
    cursor: pointer;
}
