/* Add a .hidden CSS rule that will add a CSS style of display: none to the dropdown menu element. */
.hidden {
    display: none
}

.nav-link {
    padding: 0px 0px 0px 0px;
    margin: 0px 20px 0px 0px
}

/* start here */
/* copied form before */
/* focus on funcitonality for now, make changes later */

/* index.jsx */
#navbar-container{
    display: flex;

    justify-content: space-around;
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.navbar-left {
    margin-right: auto;
}
.navbar-right {
    display: flex;  /* flex on the right */
    justify-content: space-evenly;

    width: 300px;
}

.create-a-new-spot-link {
    color: black;
    text-decoration: none;
    /* border: 1px solid black; */
    padding: 10px 15px; /* bigger click box */
}
/*added since here*/
#site-title{
    float: left;

    text-decoration: none;
    color: #ff5c5c;

    font-family: roboto;
    font-size: 30px;
    font-weight: 700;
}
/* in Navigation.jsx */
.profile-button-container{
    position: absolute;
    right: 10px;  /* direction are used relative to the position */
    margin-top: 8px;  /* distace from top of site */
}
.profile-button:hover {
    cursor: pointer;
}
/* ProfileButton.jsx */
.profile-button {
    background-color: white;
    padding: 2px 10px;
    border-radius: 30px;


}


#drop-down-menu-list {
    position: absolute;
    right: 0; /* align it to the right */


    background-color: white;
    border: 1px solid #ccc;
    padding: 0px;

    border-radius: 5%;
}

/* when logged in */
#drop-down-menu-list li{
    position: relative;

    display: block;
    width: 100px;
    text-align: center;

    font-family: roboto;
}

/* when logged out */
#two-buttons {
    display: flex;
    flex-direction: column;
}
#two-buttons:hover{
    cursor: pointer;
}

#two-buttons * {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-family: roboto;
}



.create-a-new-spot {
    display: block;
    text-decoration: none;
    background-color: white;
    color: black;
    /* border: 1px solid black; */

    padding: 10px 20px;
    /* border-radius: 10px; */
}
