/* Add a .hidden CSS rule that will add a CSS style of display: none to the dropdown menu element. */
.hidden {
    display: none
}

.nav-link {
    padding: 0px 0px 0px 0px;
    margin: 0px 20px 0px 0px
}

/* start here */
/* copied form before */
/* focus on funcitonality for now, make changes later */

/* index.js */
#navbar-container{
    position: relative;

    height: 80px;
    border-bottom: 1px solid #ccc;
}

#navbar-container li{
    /* put side by side */
    display: inline;

}
/*added since here*/
#site-title{
    float: left;

    text-decoration: none;
    color: #FF5A5F;

    font-family: roboto;
    font-size: 30px;
    font-weight: 700;
}
#profile-button-container{
    position: absolute;
    right: 10px;
}


/* ProfileButton.js */
.profile-dropdown {

}

#drop-down-menu-list {
    position: absolute;
    right: 0; /* align it to the right */

    background-color: white;
    border: 1px solid #ccc;
    padding: 0px;

    border-radius: 5%;
}

/* when logged in */
#drop-down-menu-list li{
    position: relative;

    display: block;
    width: 100px;
    text-align: center;

    font-family: roboto;
}

/* when logged out */
#two-buttons * {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-family: roboto;
}
